body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

shop {
  display: block;
  font-size: 1em;
  color: #C11;
  margin-top:16px;
  margin-bottom:16px;
}

moeda {
  display: block;
  color: #1C1;
  font-weight: bold;
}

input, textarea {
  padding: 5px 15px;
}

input[type=text], input[type=password] {
  width: 256px;
}

fieldset {
  width: 256px;
  padding: 50px;
  background-color: lightgray;
  border: 2px groove;
}

table, td {
  background-color: lightgray;
  border: 30px solid lightgray;
  border-collapse: collapse;
}

td {
  background-color: white;
  text-align: center;
  padding: 20px 10px;
  width: 256px;
  vertical-align: bottom;
}

.navbar user {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  background-color: #000;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #000;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lightgray;
}

.active {
  background-color: #000;
}

.logo {
width: 400px;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
  }
}

.footer {
    background-color: #333;
    color: white;
    display: flex;
}

.icons {
    padding: 50px 100px;
}

.email i {
    background-color: #222;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.marker i {
    background-color: #222;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.phone p {
    display: inline-block;
    padding: 10px;
}

.email p {
    display: inline-block;
    padding: 10px;
}

.marker p {
    display: inline-block;
    padding: 10px;
}

.info {
    padding: 50px 100px;
}


.info-title {
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.info-content {
    background-color: #222;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 400px;
}

.info div {
    display: flex;
    font-size: 30px;
}

.info div div {
    padding: 0px 30px 0px 0px; /* 0 = cima \\ 30 = direita \\ 0 = baixo \\ 0 = esquerda */
}

.info div i {
    background-color: #222;
    padding: 8px;
    color: white;
    border-radius: 10px;
}
